UID=1000
GID=1000
WEBUSER=host-user
WEBGROUP=host-group

APP_PORT=9000
APP_NAME="My WordPress DAM Importer plugin"
APP_SERVER_PORT=3000
APP_PREFIX=damimporter
APP_HOST=${APP_PREFIX}.local
APP_EMAIL=marius.cucuruz+docker@gmail.com

DB_PORT=3306
DB_HOST=${APP_PREFIX}db
DB_NAME=wp_dam_importer
DB_DATABASE=${DB_NAME}
DB_USERNAME=wpdam
DB_PASSWORD=7357dev!P@ss
DB_CHARSET=utf8mb4
DB_COLLATE=
WORDPRESS_TABLE_PREFIX=wp_
MYSQL_ROOT_PASSWORD=S0meRand0mPass0rd

WORDPRESS_DEBUG=1
WP_AUTO_UPDATE_CORE=0

